footer{
    text-align: center;
    margin: 100px 0;
}

*{
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    padding-right: 10%;
}


nav{

    position: fixed;
    right: 0;
    top: 0;
    left: auto;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 10%;
    height: 100vh;
    border: red solid 1px;

}

.socials{
    /*margin: 1rem;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 0.5em;

}

.socials_child{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.social_img{
    /*padding: 5px;*/
    margin: 2px;
    max-width: 60px;
}

.logo{
    /*max-height: 200px;*/
    max-width: 100%;
}

ul{
    margin: 1rem;
    list-style-type: none;
}

li a{
    display: block;
    padding: 10% 0;
    text-decoration: none;
    color: black;
}

section{
    font-size: 25px;
    /*text-align: center;*/
    margin: 100px 5%;
    padding: 5%;
    border: red solid 2px;
}

nav ul li{
    border: red solid 1px;
    /*margin-right: -16px;*/
    /*margin-left: -16px;*/
    margin: 0 -16px;
    padding: 0;
    /*padding: 0.5em 5%;*/
    font-size: 20px;
    text-align: center;
}